{{template "_header" .}}
  
{{template "_whoami" .}}
		<div class="box sidebar">RDO</div>
		<div class="box content">

<a href="/sign-up?flavor=restaurant">Click here</a> if you own a restaurant.
<br/>
<br/>
<a href="/sign-up?flavor=office">Click here</a> if you manage an office with >= 50 people.
<br/>
<br/>
We are RDO, the <i>Rotating Delicious Office</i> and we come out
of the year 2020. After everyone starting working from home, office workers
needed a place to go, Monday, Wednesday, and Fridays from 11am to 2pm every
single week.
<br/>
<br/>


</div>

{{template "_footer" .}}
